body{
	background-color: #C8F2FF;
	background-image: url("../images/batthern.png");
	font-family: 'Ubuntu', sans-serif;
}
.wrapper{
	background-color: #ddd;
	background-color: rgba(136, 147, 145, 0.4);
	border-radius: 4px;
	margin-top: 20px; 
	padding: 20px;
}
.row{
	margin-bottom: 25px;
}
.btn{
	border: 1px solid #777;
}
.cell{
	height: 32px;
	width: 32px;
	display: inline-block;
	margin: 0 0 -6px -4px;
}
.alive{
	background-color: #009480;
	background-image: url("../images/cream-dust.png");
	box-shadow: inset 0 0 5px #005449;
}
.dead{
	background-color: #8f0500;
	background-image: url("../images/concrete-wall-2.png");
	box-shadow: inset 0 0 5px #333;   
}
.bg-ut{
	background-color: #ccc;
	background-color: rgba(227, 236, 235, 0.37);
	border-radius: 4px;
	padding: 5px 10px;
}
.sub_catag{
	margin-left: 20px;
}
.double_sub_catag{
	margin-left: 40px;
}






