<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="game of life">
	    <meta name="author" content="Pete">
	    <link rel="icon" href="images/favicon.ico">

	    <title>Game of Life</title>

        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/main.css" rel="stylesheet"> 
        <script src="js/angular.min.js"></script>
        <script src="js/gol-app.js"></script> 
        <script src="js/main.js"></script>
  	</head>

  	<body ng-app="app" ng-controller="gol">
        <div class="container">

            <h1 class="text-center">The Game Of Life Project</h1>

            <div class="wrapper">              

                <div class="row">
                   <div class="col-md-offset-3 col-md-6">
                       <button class="btn btn-success" ng-click="start_game_button();">Start Game{{start_game_btn_text}}</button>
                       <button class="btn btn-success" ng-click="start_ut_button();">Start Unit Test{{start_ut_btn_text}}</button>
                   </div>
                </div>

                <div class="row">
                   <div class="col-md-offset-3 col-md-6">
                       <button class="btn btn-danger" ng-click="stop_game();" ng-show="game_is_running" >Stop</button>
                       <button class="btn btn-info" ng-click="restart_game();" ng-show="stop_btn_clicked">Keep Going</button>
                       <button class="btn btn-info" ng-click="one_step();" ng-show="game_is_running || ut_is_running">One Step</button>
                       <button class="btn btn-info" id="manual_set_cells_alive_dead" ng-show="ut_is_running">Toggle Cells Alive or Dead</button>
                   </div>
                </div>
                
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <label>
                            Grid Size
                            <input type="range" min="3" max="20" step="1" ng-model="grid_size" ng-click="grid_size_change();">
                        </label>
                        <button class="btn">{{grid_size}} X {{grid_size}}</button>
                        <button class="btn" ng-click="update_grid_size();" ng-class="{1:'btn-warning', 0:'btn-primary'}[grid_size_change_class]">{{grid_size_update_text}}Grid Size</button>
                    </div>
                </div>
                
                <div class="row">
                   <div class="col-md-offset-3 col-md-6">
                       <label ng-init="running_speed = init_running_speed">
                           Game Speed
                           <input type="range" min="100" max="5000" step="10" ng-model="running_speed" ng-change="speed_change();">
                       </label>
                       <button class="btn">{{running_speed}}</button>
                       <button class="btn btn-primary" ng-click="update_run_speed();" ng-class="{1:'btn-warning', 0:'btn-primary'}[speed_change_class]">{{speed_change_update_text}}Running Speed</button>
                   </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-1 col-md-10 game_board text-center">
                        <div ng-repeat="row in display_board track by $index"> 
                            <span data-yaxis="{{$index}}">              
                                <span ng-repeat="cell in row track by $index">        
                                    <span data-xaxis="{{$index}}" class="cell" ng-class="{1:'alive', 0:'dead'}[cell]"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="ut_is_running">
                    <div class="col-md-offset-3 col-md-6 bg-ut">
                        <h3 class="text-center">Unit Test</h3>
                        <h4>Current Coordinates: <span id="ut_hover_coordinates"></span></h4>
                        <h4>Selected Coordinates: <span id="ut_selected_coordinates"></span></h4>
                        <h4 class="sub_catag">Total Alive Neighbor Count: <span id="ut_all_count_neighbors"></span></h4>
                        <h4 class="double_sub_catag">Alive Side Neighbor Count: <span id="ut_side_count_neighbors"></span></h4>
                        <h4 class="double_sub_catag">Alive Corner Neighbor Count: <span id="ut_corner_count_neighbors"></span></h4>
                        <h4 class="double_sub_catag" id="ut_board"></h4>
                    </div>
                </div>
            </div>

        </div> <!-- /container -->          

         <script src="js/jquery.min.js"></script> 
    	 <script src="js/bootstrap.min.js"></script> 
         <script src="js/unittest.js"></script> 
	  
    </body>
</html>

